.App {
  text-align: center;
}

* {
  transition: .2s;
}

body {
  background-color: #211E2D;
}

.link {
  text-decoration: none;
}

::-webkit-scrollbar {
  width     : 5px;
  transition: 0.3s;
}

::-webkit-scrollbar-track {
  background: #252331;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
  background   : #382f5a;
  border-radius: 8px;
  border       : 1px solid #211E2D;
}

::-webkit-scrollbar-thumb:hover {
  background: #2161FD;
}